
@model WebHafta07.Web.Models.Ara
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<form asp-controller="Ana" asp-action="QueryStringAction" method="get">
    <input type="text" asp-for=@Model.Aranan placeholder="Aranacak kelime giriniz..." />
    <input  type="text" asp-for=@Model.Sayfa placeholder="Sayfa numarasını giriniz..." />
    <input type="submit" value="Arama Yap" />
</form>
