
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Hafta06.Web.Models.UrunViewModel>


<table width="600" border="1">
    <thead>
        <tr>
            <th colspan="4" style="text-align:right">
                <a asp-controller="Ana" asp-action="Ekle">Yeni Ürün Ekle</a>
            </th>
        </tr>
        <tr>
            <th>Id</th>
            <th>Adı</th>
            <th>Fiyatı</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UrunId</td>
                <td>@item.UrunAdi</td>
                <td>@item.UrunFiyat</td>
                <td>
                    <a asp-controller="Ana" asp-action="Duzenle" asp-route-id=@item.UrunId>Düzenle</a> |
                    <a asp-controller="Ana" asp-action="Sil" asp-route-id=@item.UrunId>Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>



